:root {
  --theme-color: #ea9600; 
  --bg-color:#14002d;
  
  var(--theme-color)
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  margin: 0 15px;
  background: var(--bg-color);
}



.nav_parent {
  border: 1px solid var(--theme-color);
  display: flex;
  position: fixed;
  left: 15px;
  right: 15px;
  bottom: 5px;
  height: 70px;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  z-index: 10;
  background: #14002d;
}

.child {
  height: 60px;
  width: 80px;
  margin-left: 5px;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
}

.no {
  margin-right: 5px;
  background: var(--theme-color);
}

a {
  text-decoration: none;
}


.main {
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-top: 80%;
}

textarea {
  outline: none;
  background: white;
  border: none;
  color: var(--theme-color);
  font-weight: bold;
  height: 100px;
  width: 250px;
  
}
